.git
.github
.env
.env.*
!.env.example
node_modules
vendor
dist
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
compose*.yaml
Makefile
scripts
