/vendor/
/node_modules/
/public/build/
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/dist/
.env
.env.backup
.env.production
.phpunit.result.cache
.worktrees/
.idea
.vscode
*.env
!.env.example
